<section id="onefood">
Glycemic Index: <%= @specific_food.glycemic_index %><br>
  <% if @specific_food.glycemic_index <55 %>
    <%="Low GI" %><br>
    <img src="../../star.png">
  <% elsif @specific_food.glycemic_index <70 %>
    <%="Middle GI" %><br>
  <% else %>
   <%="High GI" %><br>
   <img src="../../x.png" height="42" width="42">
  <% end %>

  <form method="post" action="/users/<%= @user.id %>/foods/<%= @specific_food.id %>">
    <input type="hidden" name="_method" value="delete">
    <input id="delete" type="submit" value="Delete">
  </form>
</section>
